@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --clr-darker: #1b212c;
  --clr-dark: #1f2153;
  --clr-light: #9fa1bc;
  --clr-white: #ffffff;
  --clr-prime: #f54d4d;
  --clr-sec: #37a9e1;

  --bs-dark: #212529;
  --light: #eee;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 2.5rem;
  --fs-600: 1.75rem;
  --fs-500: 1.4rem;
  --fs-400: 1.2rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-heading: 'Poppins', sans-serif;
  --ff-normal: 'Roboto', sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 4.8rem;
    --fs-700: 2rem;
    --fs-600: 1rem;
    --fs-400: 0.8rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

@media (max-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 4rem;
    --fs-700: 2rem;
    --fs-600: 2rem;
    --fs-400: 1rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--clr-white);

}

/* set up the body */
body {
  font-family: var(--ff-normal);
  font-size: var(--fs-400);
  color: var(--clr-light);
  background: transparent linear-gradient(160deg,
      var(--clr-darker) 0%,
      var(--clr-dark) 100%) 0% 0% no-repeat padding-box;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: .75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
  /* by bilal */
  position: relative;
}

/* colors */

.bg-dark {
  background-color: var(--clr-darker);
}

.bg-accent {
  background-color: var(--clr-light);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-prime {
  background-color: var(--clr-prime);
}

.bg-sec {
  background-color: var(--clr-sec);
}

.text-dark {
  color: var(--clr-darker);
}

.text-accent {
  color: var(--clr-light);
}

.text-white {
  color: var(--clr-white);
}

/* typography */

.ff-heading {
  font-family: var(--ff-heading);
}

.ff-normal {
  font-family: var(--ff-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.4;
}

.numbered-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.72px;
}


.numbered-title>span {
  margin-right: .5em;
  font-weight: 600;
  color: var(--clr-white);
  background-color: var(--clr-prime);
  padding: 0.3rem;
}

/* system design calsses  */
.navBar-container {
  width: 100%;
  z-index: 100;
  background-color: var(--clr-darker) !important;
  opacity: 1 !important;
}

.navBar-container.fixed {
  position: fixed;
  background-color: var(--clr-darker) !important;
  opacity: 1 !important;
  top: 0 !important;
  left: 0 !important;
  box-shadow: #000 1px 1px 6px;
}

.navBar-container.fixed .container {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.navBar-container.fixed .container .navBar {
  padding: .5rem 0;
}


.box {
  padding: 2rem 4rem;
}

section {
  margin-top: 2rem;
}

.container {
  padding: 1rem 2rem;
}

/* ------------------------------------------------------------------ */

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.5s;
  transform: scale(0.7);
  cursor: pointer;
}

.theme-container:hover {
  opacity: 0.75;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: -4px -4px 10px #1a1d206b,
    4px 4px 10px #282d326d, inset 4px 4px 10px #1e22265f,
    inset -4px -4px 10px #24282c73;
}

.shadow-light {
  box-shadow: -4px -4px 10px #bbcfda71, 4px 4px 10px #ffffff7d,
    inset 4px 4px 10px rgba(238, 240, 243, 0.35),
    inset -4px -4px 10px rgba(255, 253, 253, 0.3);
  background-color: var(--light);
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}


/*-----------------------------------< nav-bar : start >-----------------------------------*/

.navBar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.navBar>* {
  z-index: 100;
}

.nav-content {
  justify-content: space-between;
  width: 95%;
}

.nav-menu {
  list-style-type: none;
  margin: 1rem 0rem;
}

.btn {
  color: var(--clr-white);
  background-color: var(--clr-prime);
  border: none;
  padding: 0 1rem;
  height: 2.6rem;
  align-self: center;
  width: 10rem;
  position: relative;
}

.btn h1 {
  z-index: 2;
  position: relative;
  transition: 0.4s ease;
}

.btn h1 i {
  font-size: 10px;
  margin-left: 0.6rem;
}

.btn::after,
.btn::before {
  content: "";
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
  background-color: var(--clr-white);
  transition: 0.4s ease;
  z-index: 1;
}

.btn::after {
  top: 0;
}

.btn::before {
  bottom: 0;
}

.btn:hover:after,
.btn:hover:before {
  height: 50%;
}

.btn:hover h1 {
  color: var(--clr-prime) !important;
}

/* -----< logo : start >----- */
.Jeef-logo {
  flex-wrap: nowrap;
  font-family: var(--ff-normal) !important;
}

.Jeef-logo div {
  height: 2.6rem;
  width: 1.6rem;
  position: relative;
  transition: .5s ease;
}

.Jeef-logo div:nth-child(1) {
  background-color: var(--clr-prime);
  width: 2.2rem;
  transform: rotateX(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jeef-logo div:nth-child(2) div,
.Jeef-logo div:nth-child(3) div,
.Jeef-logo div:nth-child(4) div {
  background-color: var(--clr-prime);
  width: 1.6rem;
  height: 0.5rem;
  position: absolute;
  top: calc(50% - 0.3rem);
}

.Jeef-logo div:nth-child(2) div,
.Jeef-logo div:nth-child(3) div {
  width: 1rem;
}

.Jeef-logo div:nth-child(2)::after,
.Jeef-logo div:nth-child(3)::after,
.Jeef-logo div:nth-child(4)::after {
  content: "";
  width: 1.6rem;
  height: 0.5rem;
  background-color: var(--clr-prime);
  position: absolute;
  top: 0px;
  transition: .5s ease
}

.Jeef-logo div:nth-child(2)::before,
.Jeef-logo div:nth-child(3)::before,
.Jeef-logo div:nth-child(4)::before {
  content: "";
  width: 1.6rem;
  height: 0.5rem;
  background-color: var(--clr-prime);
  position: absolute;
  bottom: 0px;
  transition: .5s ease
}

.Jeef-logo div:nth-child(4)::before {
  width: 0.5rem;
}

.Jeef-logo div:nth-child(1) h1 {
  font-size: 38px;
  font-weight: bolder;
  color: #fff !important;
}

.Jeef-logo:hover div:nth-child(1) {
  transform: rotateX(360deg);
}

.Jeef-logo:hover div:nth-child(2) div,
.Jeef-logo:hover div:nth-child(3) div,
.Jeef-logo:hover div:nth-child(4) div,
.Jeef-logo:hover div:nth-child(2)::before,
.Jeef-logo:hover div:nth-child(3)::before,
.Jeef-logo:hover div:nth-child(4)::before,
.Jeef-logo:hover div:nth-child(2)::after,
.Jeef-logo:hover div:nth-child(3)::after,
.Jeef-logo:hover div:nth-child(4)::after {
  width: 0;
}

/* -----< logo : end >----- */
.item {
  position: relative;
  padding: 0.5rem 0rem;
  transition: 0.5s ease;
}

.item a {
  color: var(--clr-light);
  text-decoration: none;
}

.item::before,
.item.active::before {
  content: "";
  background-color: var(--clr-prime);
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  height: 3px;
  transition: 0.5s ease;
}

.nav-menu li:hover:before,
.item.active::before {
  left: 0;
  width: 100%;
}

/*---------------------< for mobile >---------------------*/

.nav-content.collapsed {
  background-color: #000000e0;
  position: fixed;
  width: 50%;
  min-width: 10.5rem;
  left: -50%;
  top: 0;
  height: 100vh;
  transition: 0.5s ease;
}

.nav-content.collapsed.active {
  left: 0;
}

.nav-content.collapsed .nav-menu {
  --gap: 0.6rem;
  margin: 0;
  flex-direction: column;
  position: relative;
}

.nav-content.collapsed .btn {
  display: none;
}

/* -------< toggle button >------- */
.toggle {
  display: none;
}

.toggle-btn.collapsed {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(.7);
}

.toggle-btn.collapsed div,
.toggle-btn.collapsed::after,
.toggle-btn.collapsed::before {
  border-radius: 5px;
  width: 100%;
  height: 0.4rem;
  background-color: var(--clr-white);
  transition: 0.5s ease;
}

.toggle-btn.collapsed::after,
.toggle-btn.collapsed::before {
  content: "";
  position: absolute;
}

.toggle-btn.collapsed::after {
  top: 0;
}

.toggle-btn.collapsed::before {
  bottom: 0;
}

.toggle-btn.collapsed.active div {
  transform: translateX(3rem) scale(0);
}

.toggle-btn.collapsed.active:after {
  top: 1.05rem;
  transform: rotate(-45deg);
}

.toggle-btn.collapsed.active::before {
  bottom: 1.05rem;
  transform: rotate(45deg);
}


.intro-section {
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  padding: 3rem 0rem;
}

.intro-title h1 {
  font-size: var(--fs-600);
  min-width: 14rem;
  max-width: 30rem;
}

.intro-title h1 span:first-child {
  background-color: var(--clr-prime);
  padding: 1rem;
}

.intro_animation {
  position: relative;
  width: 280px;
}

/*-----------------------------------< intro-section : start >-----------------------------------*/
.left-spacing {
  padding-left: 2rem;
}

.first-section,
.second-section {
  max-width: 60rem;
}


.event-website-btn {
  width: 13rem;
  border: 2px var(--clr-prime) solid;
  background-color: transparent;
}

.event-website-btn h1 {
  color: var(--clr-white);
}

.event-website-btn:hover h1 {
  color: var(--clr-white) !important;
}

.event-website-btn::after,
.event-website-btn::before {
  background-color: var(--clr-prime);
}

.counter {
  background-color: var(--clr-prime);
  padding: 0.2rem 0.7rem;
}

.buttons {
  flex-wrap: wrap;
}

/*---------------------------------------< swipper : start >--------------------------------------*/
.swipper {
  position: relative;
  padding: 2rem;
}

.slide {
  justify-content: center;
}

.slide div {
  display: none;
  overflow: hidden;
}

.slide .active,
.slide .active-secondary {
  display: block;
  /* width: 24rem; */
}

.slide div img {
  width: 24rem;
  height: 16rem;
}

.next {
  position: absolute;
  top: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.next i {
  font-size: 24px;
}

.go-right {
  right: 0;
}

.go-left {
  left: 0;
}

.bollet {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}

.bollet span {
  width: 0.7rem;
  min-width: 0.7rem;
  height: 0.7rem;
  border: 1px var(--clr-white) solid;
  border-radius: 50%;
  cursor: pointer;
}

.bollet .active {
  background-color: var(--clr-white);
}

/*---------------------------------------< swipper : end >--------------------------------------*/

@media (max-width: 750px) {
  .intro-section {
    margin-top: 3rem;
    flex-direction: column;
    --gap: 8rem;
  }

  .nav-menu {
    list-style-type: none;
    margin: 1rem 0rem;
    justify-content: center;
    display: flex;
    gap: 1rem;
  }

  .nav-menu .item a{
    color: #fff;
  }
}



@media(max-width: 780px) {
  .slide .active-secondary {
    display: none;
  }

  .swipper {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .next {
    color: var(--clr-white);
  }

  .next i {
    text-shadow: #1607ad 1px 1px 5px;
  }

  .buttons {
    margin-bottom: 1rem;
  }
}

@media(max-width: 910px) {
  .nav-content .btn {
    display: none;
  }
}

/*----------------------------------------- about start--------------------------------*/
.third-section {
  max-width: 72rem;
}

.third-section h1,
p {
  max-width: 60rem;
}

@media only screen and (max-width : 900px) {

  .flex-container {

    flex-wrap: wrap;
    --gap: 1rem !important;

  }

  .container-icon {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
  }

  .container-cellule {
    justify-content: center !important;
  }
}

@media screen and (min-width:660px) {
  .container-cellule :hover {
    background-color: var(--clr-prime);
  }
}

.container-icon {
  width: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.flex-container {
  padding-bottom: 6rem;
  --gap: 8rem;
  align-items: center;
}

.container-cellule {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 6rem;

}

.cellule {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 250px;
  border: 1px solid var(--clr-prime);
  border-radius: 3px;
  margin-bottom: 20px;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.cellule i {
  display: none;
  color: var(--clr-white);
  transition: .3s ease-in-out;
}

.cellule:hover i {
  display: block;
}



.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}




.flip-card,
.flip-card-click {
  display: inline-block;
  background-color: transparent;
  width: 320px;
  height: 350px;
  margin-right: 12px;
  margin-bottom: 12px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card-click:focus .flip-card-inner,
.flip-card-click:active .flip-card-inner,
.flip-card-click.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner:focus {
  outline: 5px solid #03c23c;
  cursor: pointer;
}

.flip-card-inner:hover {

  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front p,
.flip-card-back p {
  text-align: left;
  padding: 10px 0px;
  font-size: 12pt;
  color: white;

}

.flip-card-back {

  transform: rotateY(180deg);
  height: 400px;
  overflow: auto;
}



.hidden {
  opacity: 0;
}

.console-underscore {
  color: var(--clr-prime);
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.paltform-container {
  margin-right: 2.5rem;
  color: #fff;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 75em;
  perspective-origin: 50% calc(50% - 5em);
  transform-style: preserve-3d;
}

.platform {
  scale: 1.2;
  position: relative;
  transform-style: preserve-3d;
  animation: platform 6s infinite ease-in-out;
}

@keyframes platform {

  0%,
  100% {
    transform: translateY(-0.5em);
  }

  50% {
    transform: translateY(0.5em);
  }
}

.plate {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.plate:nth-child(1) {
  width: 16em;
  height: 16em;
  background-image: radial-gradient(rgb(245, 187, 187), rgb(252, 41, 41));
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(-2em);
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(2em);
}

.plate:nth-child(2) {
  width: 14em;
  height: 14em;
  background-image: radial-gradient(rgb(245, 187, 187), rgb(252, 41, 41));
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(-2em);
}

.plate::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.5em;
  background-image: linear-gradient(90deg, rgb(235, 25, 41), rgb(240, 25, 25), rgb(245, 25, 25), rgb(250, 25, 25));
  transform: translateX(-50%) rotateX(-90deg) translateZ(0.5em);
  transform-origin: top;
}

.plate::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgb(235, 25, 41), rgb(240, 25, 25), rgb(245, 25, 25), rgb(250, 25, 25));
  border-radius: 50%;
  transform: translate(-50%, -50%) translateZ(-0.5em);
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  clip-path: polygon(0 0, 100% 0, 93.25% 100%, 6.75% 100%);
  background-color: #000 5;
  overflow: hidden;
  animation: panalRotate 60s infinite linear;
}

@keyframes panalRotate {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  from {
    transform: translate(-50%, calc(-50% + 0.25em)) rotateY(0) translateZ(7em) rotateX(-15deg);
  }

  to {
    transform: translate(-50%, calc(-50% + 0.25em)) rotateY(360deg) translateZ(7em) rotateX(-15deg);
  }
}

.panel:nth-child(1) {
  animation-delay: 0s;
}

.panel:nth-child(1)::after {
  animation-delay: 0s;
}

.panel:nth-child(2) {
  animation-delay: -3.75s;
}

.panel:nth-child(2)::after {
  animation-delay: -1.25s;
}

.panel:nth-child(3) {
  animation-delay: -7.5s;
}

.panel:nth-child(3)::after {
  animation-delay: -2.5s;
}

.panel:nth-child(4) {
  animation-delay: -11.25s;
}

.panel:nth-child(4)::after {
  animation-delay: -3.75s;
}

.panel:nth-child(5) {
  animation-delay: -15s;
}

.panel:nth-child(5)::after {
  animation-delay: -5s;
}

.panel:nth-child(6) {
  animation-delay: -18.75s;
}

.panel:nth-child(6)::after {
  animation-delay: -6.25s;
}

.panel:nth-child(7) {
  animation-delay: -22.5s;
}

.panel:nth-child(7)::after {
  animation-delay: -7.5s;
}

.panel:nth-child(8) {
  animation-delay: -26.25s;
}

.panel:nth-child(8)::after {
  animation-delay: -8.75s;
}

.panel:nth-child(9) {
  animation-delay: -30s;
}

.panel:nth-child(9)::after {
  animation-delay: -10s;
}

.panel:nth-child(10) {
  animation-delay: -33.75s;
}

.panel:nth-child(10)::after {
  animation-delay: -11.25s;
}

.panel:nth-child(11) {
  animation-delay: -37.5s;
}

.panel:nth-child(11)::after {
  animation-delay: -12.5s;
}

.panel:nth-child(12) {
  animation-delay: -41.25s;
}

.panel:nth-child(12)::after {
  animation-delay: -13.75s;
}

.panel:nth-child(13) {
  animation-delay: -45s;
}

.panel:nth-child(13)::after {
  animation-delay: -15s;
}

.panel:nth-child(14) {
  animation-delay: -48.75s;
}

.panel:nth-child(14)::after {
  animation-delay: -16.25s;
}

.panel:nth-child(15) {
  animation-delay: -52.5s;
}

.panel:nth-child(15)::after {
  animation-delay: -17.5s;
}

.panel:nth-child(16) {
  animation-delay: -56.25s;
}

.panel:nth-child(16)::after {
  animation-delay: -18.75s;
}

.panel::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "JUNIOR ENTREPRISE ENSA FES <JEEF/> ";
  font-weight: 700;
  font-size: 2em;
  white-space: nowrap;
  color: #000 9;
  text-shadow: 0 0 5px var(--clr-prime), 0 0 15px var(--clr-light), 0 0 30px var(--clr-light);
  animation: textMove 20s infinite linear;
}

@keyframes textMove {
  from {
    transform: translate(2rem, -50%);
  }

  to {
    transform: translate(-42.64rem, -50%);
  }
}

/* ------------------------------------------about end ------------------------------------ */